{% extends "admin/base.html" %}
<!-- {% load static %} -->

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Jhpiego ITDB Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
<!-- <script src="{% static 'smart-selects/admin/js/bindfields.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'smart-selects/admin/js/chainedfk.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'smart-selects/admin/js/chainedm2m.js' %}" type="text/javascript" charset="utf-8"></script> -->
